/*
    Brachiosaurus for My Son
    kimpro82 / 2024.11.22
 */

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

#brachio-svg {
    width: 80%;
    height: auto;
    animation: move 5s ease-in infinite;
}

@keyframes move {
    from { transform: translateX(105%); }
    to { transform: translateX(-105%); }
}
