@charset "EUC-KR";

body {
    /* display: flex; */
    text-align: center;

    max-width: 2880;
    /* max-height: 1440; */

    font-family: "Comic Sans MS", Times, serif;
    opacity: 1;

    background-image: url("./Images/09_PigeonHelicopter.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    /* filter: brightness(70%); */

    /* border: 2px solid antiquewhite; */
    /* border-radius: 40px; */
}

#row1_1 {
    display: inline;
    font-size: 700%;
}

#row1_1 img {
    content: url("./Images/09_Heart_Pigeon.png");
    vertical-align: -30px;
    width: 150px;
    height: auto;
    opacity: 1;
}

#row1_2 {
    display: inline;
    font-size: 700%;
}

#row2 {
    font-size: 700%;
}

#row2 img {
    content: url("./Images/09_Number_Pigeon.png");
    vertical-align: -60px;
    width: 200px;
    height: auto;
    object-fit: cover;
    opacity: 1;
}

#row3 {
    font-size: 600%;
}