@charset "EUC-KR";

body {
    /* display: flex; */
    text-align: center;

    max-width: 2880;
    /* max-height: 1440; */

    font-family: "Brush Script MT", fantasy, Times, serif;
    opacity: 0.8;

    background-image: url("./Images/9_Background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.8;
    /* filter: brightness(70%); */
    

    /* border: 2px solid antiquewhite; */
    /* border-radius: 40px; */
}

#row1_1 {
    display: inline;
    font-size: 700%;
}

#row1_1 img {
    content: url("./Images/9_Heart.png");
    vertical-align: -40px;
    width: 130px;
    height: auto;
    opacity: 1;
}

#row1_2 {
    display: inline;
    font-size: 700%;
}

#row2 {
    font-size: 700%;
}

#row2 img {
    content: url("./Images/9_2.png");
    vertical-align: -100px;
    width: 240px;
    height: auto;
    object-fit: cover;
    opacity: 1;
}

#row3 {
    font-size: 600%;
}